deployedmodel/__pycache__/request_model.cpython-313.pyc
deployedmodel/__pycache__/main.cpython-313.pyc
deployedmodel/__pycache__/__init__.cpython-313.pyc
/archive
/archive/*
deployedmodel/__pycache__/response_model.cpython-313.pyc
