Assignment1.ipynb
CloudComputerResources.png
COMP541-A-2.pdf
COMP541-B-2.pdf
diabetes.csv
Group Assignment 1.pdf
WA_Fn-UseC_-Telco-Customer-Churn.xls
Week1-B.pdf
Week4Discussion.ipynb
Assignment5.ipynb
